<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="height: 100vh; display: flex; flex-direction: column; justify-content: center;">
    <%- include('../partials/header')  %>
    <div class="h-100 w-100 container" style="height: 100vh; display: flex; justify-content: center; flex-direction: column; align-items: center;">
        <h3 class="text-warning">This is Home Page</h3>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>